/* normalize*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

header {
    background-color: beige;
    text-align: center;
    padding: 15px;
}

body {
    background-color: khaki;
    font-family: 'Nanum Myeongjo', serif;
    
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(46, 43, 43);
    display: block;
    padding: 16px 22px ;

}

img {
    width: 100%;
    height: auto;
}

/* header */

nav{
    display: flex;
    justify-content: space-between;
 
}
header nav ul {
    margin-right: 30px;
    align-items: center;
    gap: 16px;
}


.logo__img{
    width: 60px;
    height: auto;
    margin-left: 60px;
}

.menu__link {
    font-size: medium;
}

.menu{
    display: flex;
    justify-content: space-around;
}
/*main*/ 

.contenedor{
    max-width: 1200px;
    margin: 0 auto ;
}

/* inicio */

.inicio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px ;
}

.inicio__titulo{
    font-size: 80px;
    text-align: right;
    font-family: 'Libre Bodoni', serif;
    margin-right: 60px;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    

}

.inicio__presentacion {
    font-size: 30px;
    text-align: right;
    margin-right: 60px;
    grid-row: 2 / 3;
    grid-column: 2 / 4;

}

.inicio .inicio__img:nth-of-type(1) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-bottom: 10px;
   
}

.inicio .inicio__img:nth-of-type(2) {
    grid-row: 3 / 4;
}

.inicio .inicio__img:nth-of-type(3) {
    grid-row: 3/ 4;  
}

.inicio .inicio__img:nth-of-type(4) {
    grid-row: 3 / 4;
}


.galeria__producto {
    width: 300px;
    height: 400px;
    border: 1px solid #2b2b2b;
    border-radius: 3px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

.contacto_img{
    width: 400px;
    margin: 30px;
}

.titulo-seccion {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 40px;
    text-align: right;
    margin: 20px;
}

.subtitulo-seccion {
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 600;
}

.seccion__articulos {
  display: inline-block;
  
}

.formulario{
    display: flex;
    flex-direction: column;
    margin:auto;
}

footer{
    text-align: center;
    font-family: 'Nanum Myeongjo', serif; 
    background-color: beige;   
}

@media screen and (max-width: 480px){
    nav{
        flex-direction: column;
    }

}