@charset "UTF-8";
/*misc*/
/*colores*/
/*espacios*/
/*familia de fuentes*/
/*tamaños de fuentes*/
/*maps*/
/* normalize*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-image: url(../../img/fondo.jpg);
  font-family: "Nanum Myeongjo", serif; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #2e2b2b;
  display: inline-block;
  padding: 4px 4px; }

img {
  width: 100%;
  height: auto; }

/*scroll bar*/
::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background-color: #f5fcb0;
  border-radius: 50px; }

::-webkit-scrollbar-thumb {
  background: rgba(247, 138, 13, 0.493);
  border-radius: 50px; }

/*normalizacion de boostrap*/
a {
  color: black;
  text-decoration: none; }

a:hover {
  color: black; }

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: black;
  text-decoration: none; }

/*partials*/
/* header */
header {
  box-shadow: 0px 10px 13px -7px #f0e15e, 0px 0px 21px 1px rgba(0, 0, 0, 0);
  background-color: #f5fcb0;
  text-align: center;
  padding: 10px; }
  header nav {
    display: flex;
    justify-content: space-between; }
    header nav ul {
      margin-right: 30px;
      align-items: center;
      gap: 16px; }

.logo__img {
  width: 60px;
  height: auto;
  margin-left: 60px; }

.menu {
  display: flex;
  justify-content: space-around; }
  .menu__link {
    color: #2e2b2b;
    font-size: 2em;
    padding: 5px 30px;
    border: 0.5px solid #f5fcb0;
    border-radius: 3rem; }
    .menu__link:hover {
      animation: pulsate 0.5s ease-in-out; }

@keyframes pulsate {
  0% {
    box-shadow: 0 0 25px #b9e71373,  0 0 50px #def12fb4; } }

/* footer */
footer {
  text-align: center;
  font-family: "Nanum Myeongjo", serif;
  background-color: #f5fcb0;
  font-size: 1.5em;
  height: 3rem;
  box-shadow: 10px 3px 13px 4px #f0e15e, 0px 0px 21px 1px rgba(0, 0, 0, 0); }
  footer p {
    margin-bottom: 0%; }

/*views*/
/* inicio */
.inicio {
  max-width: 750px;
  margin: auto; }
  .inicio__titulo {
    font-family: "Nanum Myeongjo", serif;
    font-size: 5em;
    color: #2e2b2b;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem; }

.carrusel-de-inicio {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 750px;
  height: auto;
  box-shadow: inset 30px 15px 15px 15px #646361b7, 1px 1px 20px 6px #979292a4, -20px -7px 30px 15px rgba(247, 244, 242, 0); }

.carousel-caption {
  font-size: 3em; }

/*PLANTAS y MACETAS*/
.galeria {
  display: flex;
  width: 98%;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 3rem; }

.galeria > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem; }

.galeria {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
  justify-content: center; }

.galeria__producto {
  width: 300px;
  height: 350px;
  border: 2px solid #5f4b07c9;
  border-radius: 3px;
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
  display: inline-block; }

.galeria__producto__texto {
  font-family: "Nanum Myeongjo", serif;
  font-size: 2em;
  padding-bottom: 1rem; }

.galeria__producto__imagen {
  padding-bottom: 1rem;
  border-radius: 5px;
  transition: 1s; }
  .galeria__producto__imagen:hover {
    transform: scale(1.1); }

.titulo-productos {
  font-family: "Nanum Myeongjo", serif;
  font-size: 5em;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem; }

.subtitulo-productos {
  display: flex;
  justify-content: space-around;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 600;
  font-size: 2em;
  padding: 2rem; }

/*PLANTAS y MACETAS*/
.galeria {
  display: flex;
  width: 98%;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 3rem; }

.galeria > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem; }

.galeria {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
  justify-content: center; }

.galeria__producto {
  width: 300px;
  height: 350px;
  border: 2px solid #5f4b07c9;
  border-radius: 3px;
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
  display: inline-block; }

.galeria__producto__texto {
  font-family: "Nanum Myeongjo", serif;
  font-size: 2em;
  padding-bottom: 1rem; }

.galeria__producto__imagen {
  padding-bottom: 1rem;
  border-radius: 5px; }

.titulo-productos {
  font-family: "Nanum Myeongjo", serif;
  font-size: 5em;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem; }

.subtitulo-productos {
  display: flex;
  justify-content: space-around;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 600;
  font-size: 2em;
  padding: 2rem; }

/* formulario */
form {
  display: flex;
  flex-direction: column;
  align-items: center; }

.formulario {
  flex-direction: column;
  margin-top: 9rem; }

.fomulario-suscripcion {
  font-family: "Nanum Myeongjo", serif;
  font-size: 2em; }

/*NOSOTROS*/
.contacto {
  display: flex;
  height: 80vh; }

.contacto__img {
  display: flex;
  align-items: center;
  padding: 2rem; }

.contacto__img img {
  width: 381px; }

.contacto__resumen {
  display: flex;
  font-family: "Nanum Myeongjo", serif;
  font-size: 2em;
  padding: 2rem;
  text-align: center;
  align-items: center; }

.contacto-seccion {
  display: block; }

.contacto-seccion__info, .contacto-seccion__info__redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem; }

.contacto-seccion__info__titulo {
  font-size: 2em; }

.contacto-seccion__info__redes {
  font-size: 1.5em; }

.contacto-seccion__info__redes__iconos {
  display: flex;
  align-items: center; }

/*media queries*/
/*nav*/
@media screen and (max-width: 760px) {
  header nav {
    flex-direction: column; }
  .logo__img {
    margin-left: 0;
    margin-bottom: 0.5rem; }
  .menu {
    margin-right: 0;
    gap: 1rem; }
  .menu__link {
    border: none;
    font-size: 2em;
    margin: 0;
    padding: 0; } }

@media screen and (max-width: 500px) {
  .inicio {
    height: 70vh; }
  .inicio__titulo {
    font-size: 3em; } }

@media screen and (max-width: 380px) {
  .menu__link {
    font-size: 1.5em; }
  nav ul {
    gap: 1rem; } }

/*carrusel inicio*/
@media screen and (max-width: 760px) {
  .carrusel-de-inicio {
    flex-direction: column;
    width: 100%; } }

/*nosotros*/
@media screen and (max-width: 920px) {
  .contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; } }

@media screen and (max-width: 830px) {
  .contacto__resumen {
    font-size: 1.5em; }
  .contacto-seccion {
    font-size: 0.75em; } }

@media screen and (max-width: 480px) {
  .contacto__img img {
    width: 244px; } }

/*formulario*/
@media screen and (max-width: 1075px) {
  .formulario {
    margin-top: 3rem; } }

@media screen and (max-width: 856px) {
  .form-label {
    font-size: 0.75em; }
  .form-check-label {
    font-size: 0.75em; } }

@media screen and (max-width: 450px) {
  .form-check-label {
    font-size: 0.5em; } }
