/* header */
header {
    background-color: $secondary;
    text-align: center;
    padding: 15px;
}

nav{
    display: flex;
    justify-content: space-between;
 
}
header nav ul {
    margin-right: 30px;
    align-items: center;
    gap: 16px;
}

.logo__img{
    width: 60px;
    height: auto;
    margin-left: 60px;
}

.menu__link {
    font-size: $text-small;
    border: $secondary solid 1px;
}

.menu__link:hover {
    border: solid $alternative 1px;
    transition: border 0.5s;
}

.menu{
    display: flex;
    justify-content: space-around;
}