/* formulario */

form {
    flex-direction: column;
    align-items: center;
}

.formulario {
    position: relative;
    top: -20%;
}

.fomulario-suscripcion{
    font-family: $font-principal;
    font-size: $text-small;
}
