/*nav*/
 @media screen and (max-width: 760px){
    header nav {
           flex-direction: column;
    }
    .logo__img {
        margin-left: 0;
        margin-bottom: 0.5rem;
    }
    .menu{
        margin-right: 0;
        gap: $spacing-small;
    }
    .menu__link{
        
        border: none;
        font-size: $text-small ;
        margin: 0;
        padding: 0;
    }
 }
 
 @media screen and (max-width: 720px){
    .inicio__titulo { 
        font-size: 5em ;
 }
}

 @media screen and (max-width: 500px){
    .inicio{
        height: 70vh;
    }
    .inicio__titulo{
        font-size: $text-medium;
    }
 }

 @media screen and (max-width: 380px){
    .menu__link{
        font-size: $text-xsmall ;
    }
    nav ul {
        gap: 1rem;
    }
 }


/*nosotros*/

@media screen and (max-width: 920px){
    .contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 830px){
        .contacto__resumen{
            font-size: $text-xsmall;
        }
        .contacto-seccion{
            font-size: $text-xsmall/2;
        }
}
 

/*formulario*/
@media screen and (max-width: 1075px) {
    .formulario{
        margin-top: $spacing-large;        
}
}

@media screen and (max-width: 856px){
    .form-label {
       font-size: $text-xsmall/2;
    }
    .form-check-label {
        font-size: $text-xsmall/2;
    }
}

@media screen and (max-width: 450px){
    .form-check-label {
        font-size: $text-xsmall/3;
    }
}

