/* normalize*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}



body {
    background-color: khaki;
    font-family: 'Nanum Myeongjo', serif;
    
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(46, 43, 43);
    display: inline-block;
    padding: 4px 4px ;
}

img {
    width: 100%;
    height: auto;
}