/*colores*/
$primary: #f4fcb0;
$alternative: #2b2b2b;
$text-color: #2e2b2b ;

/*espacios*/
$spacing-large: 3rem ;
$spacing-medium: 2rem ;
$spacing-small: 1rem ;

/*familia de fuentes*/
$font-principal:'Nanum Myeongjo', serif ;

/*tamaños de fuentes*/
 $text-large: 5em;
 $text-medium: 3em;
 $text-small: 2em;
 $text-xsmall: 1.5em;

 /*maps*/
 $bordes: solid 1px; 
 $fondo: blue;

 $nav-style: (
    bordes: $bordes,
    fondo: $fondo,
 )

 
 